.chnageEtseg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.change-password-container {
  width: 400px;
  text-align: center;
  border: 2px solid #ccc; /* Add border */
  border-radius: 10px; /* Add border radius */
  background-color: #f9f9f9; /* Add background color */
  padding: 20px; /* Add padding */
}

.icon-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 40px;
}

.change-icon {
  font-size: 80px;
  color: #007bff;
}

.change-password-container h1 {
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 20px;
  font-size: 20px;
}

.password-form {
  display: flex;
  flex-direction: column;
}

.password-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.submit-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}

.message {
  margin-top: 20px;
  color: #007bff;
}
